.navbar-brand-icon {
    height: 35px;
}

.navbar-brand-text {
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: middle;
}

.navbar-brand-text-first {
    font-weight: 600;
}

.navbar-brand-text-second {
    font-weight: 300;
}
