table {
    font-size: 12px;
}

strong {
    font-weight: 600;
}

.form-readonly .form-group {
    margin-bottom: 0px;
}

.form-readonly .control-label {
    text-align: left;
}

.form-readonly .form-control {
    border: 0;
    color: #363636;
    background-color: transparent;
    cursor: default;
}