<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>

<div class="container-fluid job-detail">

    <div class="row">
        <div class="col-md-6">
            <h2><strong>{{job.taskName}}</strong></h2>

        </div>
        <div class="col-md-6 text-right">

            <div class="absolute-right">
                <div class="job-icon-big" [ngClass]="icon"></div>
            </div>
        </div>
    </div>

    <form class="form-horizontal form-readonly">
        <div class="form-group">
            <label class="col-sm-1 control-label" for="status">Status :</label>
            <div class="col-sm-11"><input type="text" id="status" class="form-control" disabled="" [value]="jobExecution.status"></div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="start">Start :</label>
            <div class="col-sm-11"><input type="text" id="start" class="form-control" disabled="" [value]="jobExecution.startTime"></div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="end">End :</label>
            <div class="col-sm-11"><input type="text" id="end" class="form-control" disabled="" [value]="jobExecution.endTime"></div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="duration">Duration :</label>
            <div class="col-sm-11"><input type="text" id="duration" class="form-control" disabled="" [value]="jobExecution.endTime - jobExecution.startTime"></div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label" for="message">Exit Msg :</label>
            <div class="col-sm-11"><input type="text" id="message" class="form-control" disabled="" [value]="jobExecution.exitStatus.exitDescription"></div>
        </div>

    </form>

    <h2>Parameters</h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Parameter Name</th>
            <th>Parameter Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let key of jobParametersKeys">
            <td>{{key}}</td>
            <td>{{jobParameters[key]}}</td>
        </tr>
        </tbody>
    </table>

    <h2>Steps</h2>

    <div class="list-group list-view-pf">
        <div class="list-group-item-simple-expand"
             [class.active]="isSelected(step)"
             *ngFor="let step of stepExecutions">
            <div class="list-group-item" (click)="onSelect(step)">
                <div class="list-view-pf-expand">
                    <span class="fa fa-angle-right"></span>
                </div>

                <div class="list-view-pf-main-info">
                    <div class="list-view-pf-left">
                        <span class="pficon list-view-pf-icon-sm-trans" [ngClass]="getIcon(step.status)"></span>
                    </div>
                    <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                            <div class="list-group-item-heading">
                                {{step.stepName}}
                            </div>
                            <div class="list-group-item-text">
                                The following snippet of text is <a href="#">rendered as link text</a>.
                            </div>
                        </div>
                        <div class="list-view-pf-additional-info">
                            <div class="list-view-pf-additional-info-item">
                                <span class="pficon pficon-screen"></span>
                                <strong>8</strong> Hosts
                            </div>
                            <div class="list-view-pf-additional-info-item">
                                <span class="pficon pficon-cluster"></span>
                                <strong>8</strong> Clusters
                            </div>
                            <div class="list-view-pf-additional-info-item">
                                <span class="pficon pficon-container-node"></span>
                                <strong>18</strong> Nodes
                            </div>
                            <div class="list-view-pf-additional-info-item">
                                <span class="pficon pficon-image"></span>
                                <strong>4</strong> Images
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list-view-pf-expand-container container-fluid" [class.hidden]="!isSelected(step)">
                <div class="list-view-pf-expand-close" (click)="onSelect(step)">
                    <span class="fa fa-times"></span>
                </div>
                <div class="col-md-3">
                    <div class="list-view-pf-expand-chart">
                    </div>
                </div>
                <div class="col-md-9">
                    <ul class="list-view-pf-expand-info">
                        <li>
                            <strong>Host Name</strong>
                            <span>Hostceph1</span>
                        </li>
                        <li>
                            <strong>Device Path</strong>
                            <span>/dev/disk/pci-0000.05:00-sas-0.2-part1</span>
                        </li>
                        <li>
                            <strong>Time</strong>
                            <span>January 15, 2016 10:45:11 AM</span>
                        </li>
                        <li>
                            <strong>Severity</strong>
                            <span>Warning</span>
                        </li>
                        <li>
                            <strong>Cluster</strong>
                            <span>Cluster 1</span>
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>