<!DOCTYPE html>
<!--[if IE 9]>
<html lang="en-us" class="ie9 layout-pf layout-pf-fixed"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us" class="layout-pf layout-pf-fixed">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= webpackConfig.metadata.title %></title>

    <meta name="description" content="<%= webpackConfig.metadata.title %>">

    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>

    <!-- webpack bundled css -->
    <link rel="stylesheet" href="/assets/css/patternfly.min.css">
    <link rel="stylesheet" href="/assets/css/patternfly-additions.min.css">

    <!-- base url -->
    <base href="<%= webpackConfig.metadata.baseUrl %>">

</head>

<body>

<app>
    Loading...
</app>

<% if (webpackConfig.metadata.isDevServer) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>


</body>
</html>
